# DickensAssignment2

This program will inspect and transform the MV Rankin Data and meta to get validated for Nature's Palette repository submission.

In [215]:
import os
import pandas as pd
import numpy as np

In [216]:
df_meta = pd.read_csv('metadata.csv')
df_meta.head()

,FileName,DataSource,UniqueID,institutionCode,collectionCode,catalogueNumber,class,order,family,genus,...,eventDate,measurementDeterminedDate,Patch,LightAngle1,LightAngle2,ProbeAngle1,ProbeAngle2,Replicate,Comments,Unnamed: 29
0,24047BEL_Splice17_1,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,belly,45,0,45,0,1,NaN,NaN
1,24047BEL_Splice17_2,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,belly,45,0,45,0,2,NaN,NaN
2,24047BEL_Splice17_3,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,belly,45,0,45,0,3,NaN,NaN
3,24047BRE_Splice17_1,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,breast,45,0,45,0,1,NaN,NaN
4,24047BRE_Splice17_2,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,breast,45,0,45,0,2,NaN,NaN

### Extensions

The first issue to be noticed is the file extension is not included in the FileName.

In [217]:
df_meta_output = df_meta.copy()
df_meta_output['FileName'] = df_meta['FileName'] + ".txt"
df_meta_output.head()

,FileName,DataSource,UniqueID,institutionCode,collectionCode,catalogueNumber,class,order,family,genus,...,eventDate,measurementDeterminedDate,Patch,LightAngle1,LightAngle2,ProbeAngle1,ProbeAngle2,Replicate,Comments,Unnamed: 29
0,24047BEL_Splice17_1.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,belly,45,0,45,0,1,NaN,NaN
1,24047BEL_Splice17_2.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,belly,45,0,45,0,2,NaN,NaN
2,24047BEL_Splice17_3.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,belly,45,0,45,0,3,NaN,NaN
3,24047BRE_Splice17_1.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,breast,45,0,45,0,1,NaN,NaN
4,24047BRE_Splice17_2.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,breast,45,0,45,0,2,NaN,NaN

### Duplicates

Check for duplicate rows

In [218]:
print('Original number of rows', df_meta.shape[0])
df_meta_output = df_meta_output.reset_index().drop_duplicates(subset='FileName', keep='first').reset_index()
df_meta_output = df_meta_output.dropna(subset=['Replicate'])
print('After dropping duplicates', df_meta_output.shape[0])
df_meta_output

Original number of rows 8560
After dropping duplicates 8556

,level_0,index,FileName,DataSource,UniqueID,institutionCode,collectionCode,catalogueNumber,class,order,...,eventDate,measurementDeterminedDate,Patch,LightAngle1,LightAngle2,ProbeAngle1,ProbeAngle2,Replicate,Comments,Unnamed: 29
0,0,0,24047BEL_Splice17_1.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,...,U,1931-03-16,belly,45,0,45,0,1,NaN,NaN
1,1,1,24047BEL_Splice17_2.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,...,U,1931-03-16,belly,45,0,45,0,2,NaN,NaN
2,2,2,24047BEL_Splice17_3.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,...,U,1931-03-16,belly,45,0,45,0,3,NaN,NaN
3,3,3,24047BRE_Splice17_1.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,...,U,1931-03-16,breast,45,0,45,0,1,NaN,NaN
4,4,4,24047BRE_Splice17_2.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,...,U,1931-03-16,breast,45,0,45,0,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8551,8555,8555,SAW625CRW_Splice17_2.txt,M,NaN,South Australia Museum,NaN,saB51594,NaN,Falconiformes,...,2014,2017-06-16,crown,45,0,45,0,2,NaN,NaN
8552,8556,8556,SAW625CRW_Splice17_3.txt,M,NaN,South Australia Museum,NaN,saB51594,NaN,Falconiformes,...,2014,2017-06-16,crown,45,0,45,0,3,NaN,NaN
8553,8557,8557,SAW625MNTL_Splice17_1.txt,M,NaN,South Australia Museum,NaN,saB51594,NaN,Falconiformes,...,2014,2017-06-16,mantle,45,0,45,0,1,NaN,NaN
8554,8558,8558,SAW625MNTL_Splice17_2.txt,M,NaN,South Australia Museum,NaN,saB51594,NaN,Falconiformes,...,2014,2017-06-16,mantle,45,0,45,0,2,NaN,NaN
8555,8559,8559,SAW625MNTL_Splice17_3.txt,M,NaN,South Australia Museum,NaN,saB51594,NaN,Falconiformes,...,2014,2017-06-16,mantle,45,0,45,0,3,NaN,NaN

### Look for non-matches

In [219]:
# copy the filenames from the directory
filenames = [name for path, subdirs, files in os.walk("RankinData")
             for name in files]

df_filenames = pd.DataFrame (filenames, columns = ['filename'])
df_filenames

                         filename
0         24047BEL_Splice17_1.txt
1         24047BEL_Splice17_2.txt
2         24047BEL_Splice17_3.txt
3         24047BRE_Splice17_1.txt
4         24047BRE_Splice17_2.txt
...                           ...
8416  saB9047LMNTL_Splice17_2.txt
8417  saB9047LMNTL_Splice17_3.txt
8418  saB9047UMNTL_Splice17_1.txt
8419  saB9047UMNTL_Splice17_2.txt
8420  saB9047UMNTL_Splice17_3.txt

[8421 rows x 1 columns]

In [220]:
df_missing_meta = df_filenames[~df_filenames.filename.isin(df_meta_output.FileName.values)]

print("Number of files without meta present: ", df_missing_meta.shape[0])

# export files without meta
df_missing_meta.to_csv('ValidatorExports/MissingMeta.csv', index=False, header=True)

Number of files without meta present:  361

In [221]:
df_missing_files = df_meta_output[~df_meta_output.FileName.isin(filenames)]
df_missing_files.drop(['index', 'level_0'], axis=1, inplace=True)

print("Number of meta without files present: ", df_missing_files.shape[0])

# export meta without files
df_missing_files.to_csv('ValidatorExports/MissingFiles.csv', index=False, header=True)

Number of meta without files present:  496