# DickensAssignment2

This program will inspect and transform the MV Rankin Data and meta to get validated for Nature's Palette repository submission.

In [71]:
import pandas as pd
import numpy as np

In [72]:
df_meta = pd.read_csv('metadata.csv')
df_meta.head()

,FileName,DataSource,UniqueID,institutionCode,collectionCode,catalogueNumber,class,order,family,genus,...,eventDate,measurementDeterminedDate,Patch,LightAngle1,LightAngle2,ProbeAngle1,ProbeAngle2,Replicate,Comments,Unnamed: 29
0,24047BEL_Splice17_1,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,belly,45,0,45,0,1,NaN,NaN
1,24047BEL_Splice17_2,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,belly,45,0,45,0,2,NaN,NaN
2,24047BEL_Splice17_3,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,belly,45,0,45,0,3,NaN,NaN
3,24047BRE_Splice17_1,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,breast,45,0,45,0,1,NaN,NaN
4,24047BRE_Splice17_2,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,breast,45,0,45,0,2,NaN,NaN

### Extensions

The first issue to be noticed is the file extension is not included in the FileName.

In [73]:
df_meta_output = df_meta.copy()
df_meta_output['FileName'] = df_meta['FileName'] + ".txt"
df_meta_output.head()

,FileName,DataSource,UniqueID,institutionCode,collectionCode,catalogueNumber,class,order,family,genus,...,eventDate,measurementDeterminedDate,Patch,LightAngle1,LightAngle2,ProbeAngle1,ProbeAngle2,Replicate,Comments,Unnamed: 29
0,24047BEL_Splice17_1.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,belly,45,0,45,0,1,NaN,NaN
1,24047BEL_Splice17_2.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,belly,45,0,45,0,2,NaN,NaN
2,24047BEL_Splice17_3.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,belly,45,0,45,0,3,NaN,NaN
3,24047BRE_Splice17_1.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,breast,45,0,45,0,1,NaN,NaN
4,24047BRE_Splice17_2.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,Accipitridae,Hamirostra,...,U,1931-03-16,breast,45,0,45,0,2,NaN,NaN

### Duplicates

Check for duplicate rows

In [74]:
print('Original number of rows', df_meta.shape[0])
df_meta_output = df_meta_output.reset_index().sort_values('FileName', ascending=False).drop_duplicates(subset='FileName', keep='first').reset_index()
df_meta_output = df_meta_output.dropna(subset=['Replicate'])
print('After dropping duplicates', df_meta_output.shape[0])
df_meta_output

Original number of rows 8560
After dropping duplicates 8556

,level_0,index,FileName,DataSource,UniqueID,institutionCode,collectionCode,catalogueNumber,class,order,...,eventDate,measurementDeterminedDate,Patch,LightAngle1,LightAngle2,ProbeAngle1,ProbeAngle2,Replicate,Comments,Unnamed: 29
0,8547,8547,saB9047UMNTL_Splice17_3.txt,M,NaN,South Australia Museum,NaN,saB9047,NaN,Columbiformes,...,U,2014-06-16,mantle upper,45,0,45,0,3,NaN,NaN
1,8546,8546,saB9047UMNTL_Splice17_2.txt,M,NaN,South Australia Museum,NaN,saB9047,NaN,Columbiformes,...,U,2014-06-16,mantle upper,45,0,45,0,2,NaN,NaN
2,8545,8545,saB9047UMNTL_Splice17_1.txt,M,NaN,South Australia Museum,NaN,saB9047,NaN,Columbiformes,...,U,2014-06-16,mantle upper,45,0,45,0,1,NaN,NaN
3,8544,8544,saB9047LMNTL_Splice17_3.txt,M,NaN,South Australia Museum,NaN,saB9047,NaN,Columbiformes,...,U,2014-06-16,mantle lower,45,0,45,0,3,NaN,NaN
4,8543,8543,saB9047LMNTL_Splice17_2.txt,M,NaN,South Australia Museum,NaN,saB9047,NaN,Columbiformes,...,U,2014-06-16,mantle lower,45,0,45,0,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8551,4,4,24047BRE_Splice17_2.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,...,U,1931-03-16,breast,45,0,45,0,2,NaN,NaN
8552,3,3,24047BRE_Splice17_1.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,...,U,1931-03-16,breast,45,0,45,0,1,NaN,NaN
8553,2,2,24047BEL_Splice17_3.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,...,U,1931-03-16,belly,45,0,45,0,3,NaN,NaN
8554,1,1,24047BEL_Splice17_2.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,...,U,1931-03-16,belly,45,0,45,0,2,NaN,NaN
8555,0,0,24047BEL_Splice17_1.txt,M,NaN,Museums Victoria,NaN,24047,NaN,Accipitriformes,...,U,1931-03-16,belly,45,0,45,0,1,NaN,NaN